nav {
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 14px;
    
}

header {
    background-color: black;
    color: white;
}

nav a:hover {
    color: yellow;
    text-shadow: 0px 0px 9px yellow;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 15px;
    transition: 0.3s ease;
    

}



footer {
    color: #0080FE;
    text-align: center;
    background-color: black;
    padding: 10px;
    font-weight: 500;
   
}

footer a {
    text-decoration: none;
    color: #00BFFF;
    
}

footer a:hover {
    color: #FFFFFF;
}

.name {
    text-align: center;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    border: 4px solid yellow;
    box-shadow: 0 0 18px yellow;
    
        
    
}

.bolding {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #333;
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0033aa;
    border-left: 6px solid #0033aa;
    padding-left: 12px;
    
}

h3 {
    background: #e7f3ff;;
    font-size:xx-large;
    border-left: 4px solid #0077ff;
    padding-left: 10px;
    border-radius: 9px;
}

#imagediv {
    background-color: black;
    padding-top: 20px;
}

hr {
    border-radius: 50%;
    height: 2px;
    background-color: yellow;
    
}