nav {
    background-color: black;
    text-align: center;
    padding: 15px;


}

nav a {
    color: white;
    text-decoration: none;
    font-size: large;

}



footer {
    color: #00008B;
}

.name {
    text-align: center;
}

img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.bolding {
    font-family: Arial, Helvetica, sans-serif;
}