nav {
    background-color: black;
    text-align: center;
    padding: 15px;
    
}

nav a:hover {
    color: yellow;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: large;
    padding: 15px;

}



footer {
    color: #00008B;
}

.name {
    text-align: center;
}

img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.bolding {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #333;
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0033aa;
    border-left: 6px solid #0033aa;
    padding-left: 12px;
    
}

h3 {
    background: #e7f3ff;;
    font-size:xx-large;
    border-left: 4px solid #0077ff;
    padding-left: 10px;
}

